<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>John Ellis | Photography</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="John Ellis Photography" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />

    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <header>
      <h1>John Ellis</h1>

      <nav id="main-menu">
        <ul>
          {% assign sorted_pages = site.html_pages | sort:"position" %}
          {% for page in sorted_pages %}
            {% if page.title %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>{{ content }}</main>

    <div id="enlarged-image" class="hide"></div>

    <footer>
      <p>&copy; 2013-2021 John Ellis, all rights reserved.</p>
    </footer>

    <script src="{{site.baseurl}}/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/plugins.js"></script>

    <script
      src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
      defer
    ></script>

    <script src="{{site.baseurl}}/assets/js/main.js" defer></script>
  </body>
</html>
